<div class="h-screen flex flex-col items-center justify-center">
    <div class="border-2 border-white rounded-xl p-4 flex justify-center w-1/12 m-4
        hover:scale-110 transition duration-200 cursor-default"
        (click)="navigate('dashboard')">
        Dashboard
    </div>

    <div class="border-2 border-white rounded-xl p-4 flex justify-center w-1/12 m-4
        hover:scale-110 transition duration-200 cursor-default"
        (click)="navigate('admin')">
        Administration
    </div>

</div>