<div class="flex flex-col items-center min-h-screen">

    <div class="flex">
        <button class="bg-neutral-700 hover:bg-neutral-800 text-white font-bold py-2 px-4 rounded-lg" (click)="showTableChoice = !showTableChoice">
            Changer table
        </button>
        <div *ngIf="showTableChoice">
            <select class="appearance-none cursor-pointer bg-neutral-700 hover:bg-neutral-800 py-2 px-4 mx-4 rounded-lg">
                <option *ngFor="let choice of tableChoice; let i = index" (click)="changeTable(i)">{{choice}}</option>
            </select>
        </div>

    </div>


    <div>
        {{tableFullName}}   {{tableBalance}}€
    </div>

    <app-edit-entry class="w-3/4 xl:w-1/2" *ngIf="tableType===1"></app-edit-entry>
    <div class="border border-white p-4 rounded-xl w-3/4 xl:w-1/2 flex flex-col items-center">
        <div class="w-3/4 flex flex-col items-center">
            <div class="flex w-full">
                <div class="w-1/2">
                    <div *ngFor="let item of entriesType; let i = index" class="w-full">
                        <div *ngIf="item.toString()==='false'" class="w-full">
                            <app-view-entry
                            [date]="entriesDate[i]"
                            [value]="entriesValue[i]"
                            [note]="entriesNote[i]"
                            ></app-view-entry>
                        </div>
                    </div>
                </div>
        
                <div class="border border-white"></div>
                
                <div>
                    <div *ngFor="let item of entriesType; let i = index" class="w-full">
                        <div *ngIf="item.toString()==='true'" class="w-full">
                            <app-view-entry
                            [date]="entriesDate[i]"
                            [value]="entriesValue[i]"
                            [note]="entriesNote[i]"
                            ></app-view-entry>
                        </div>
                    </div>
                </div>
        
            </div>
    
            <div class="w-full border border-white mt-4"></div>

            <div class="flex">
                <div class="p-2">{{totalIncome}}</div>
                <div class="border border-white"></div>
                <div class="p-2">{{totalExpense}}</div>
            </div>
        </div>

    </div>
      
</div>

