<div class="border rounded-xl border-white p-8 my-4 w-full flex justify-center">
    <div class="w-3/4 flex flex-col items-center">
        <div class="flex w-1/2">
            <ul class="w-full">
                <li class="flex growth my-2">
                    <span class="p-4 mt-1" [class.hidden]="entryType">Revenu</span>
                    <span class="p-4 mt-1" [class.hidden]="!entryType">Dépense</span>
                </li>
                <li class="flex growth my-4">
                    <span class="p-4">Date</span>
                </li>
                <li class="flex growth my-4">
                    <span class="py-2 px-4">Montant</span> 
                </li>
                <li class="flex growth my-4">
                    <span class="py-4 px-4">Note</span>
                </li>
            </ul>
            
            <ul class="w-full">
                <li class="flex growth my-4">
                    <div class="p-2">
                        <mat-slide-toggle [(ngModel)]="entryType"></mat-slide-toggle>
                    </div> 
                </li>
                <li class="flex growth my-4">
                    <div class="p-2">
                        <input type="date" [(ngModel)]="entryDate" class="border-2 rounded-xl border-black p-2 bg-white text-black">
                    </div>
                </li>
                <li class="flex growth my-4">
                    <div class="border-2 rounded-xl border-black p-2 bg-white text-black">
                        <input type="number" [(ngModel)]="entryValue">
                    </div>
                </li>
                <li class="flex growth my-4">
                    <div class="border-2 border-black rounded-xl p-2 bg-white text-black">
                        <input type="text" [(ngModel)]="entryNote">
                    </div>
                </li>
            </ul>
        </div>
        <div class="w-full flex justify-center">
            <div class="border-2 rounded-xl border-white p-2">
                <button (click)="submitEntry()">Ajouter</button>
            </div>
        </div>
    </div>
</div>