<div class="border rounded-xl border-black p-2 m-4 w-full">
    <div class="flex">
        <ul class="w-1/2">
            <li class="flex growth my-2">
                <span class="p-2">Type (Revenu/Dépense)</span>
            </li>
            <li class="flex growth my-4">
                <span class="p-2">Date</span>
            </li>
            <li class="flex growth my-4">
                <span class="p-2">Montant</span> 
            </li>
            <li class="flex growth my-4">
                <span class="p-2">Note</span>
            </li>
        </ul>
        
        <ul class="w-1/2">
            <li class="flex growth my-4">
                <div class="p-2">
                    <input type="checkbox" [(ngModel)]="entryType">
                </div> 
            </li>
            <li class="flex growth my-4">
                <div class="p-2">
                    <input type="date" [(ngModel)]="entryDate">
                </div>
            </li>
            <li class="flex growth my-4">
                <div class="border-2 rounded-xl border-black p-2">
                    <input type="number" [(ngModel)]="entryValue">
                </div>
            </li>
            <li class="flex growth my-4">
                <div class="border-2 border-black rounded-xl p-2">
                    <input type="text" [(ngModel)]="entryNote">
                </div>
            </li>
        </ul>
    </div>
    <div class="w-full flex justify-center">
        <div class="border-2 rounded-xl border-black p-2">
            <button (click)="submitEntry()">Ajouter</button>
        </div>
    </div>
</div>